body{
    font: 24px Calibri black;
    background-color:cadetblue;
}
h1{
    color: rgb(220, 220, 220);

    padding: 25px;
    margin: auto;
    position: relative;
    display: block;
    text-align: center;
}
.input_letters{
    font: 24px Calibri;
    color: rgb(220, 220, 220);
    background-color: black;
    border: 10px black solid;
    border-radius: 5px;

    min-height: 50px;
    max-height: 100px;
    min-width: 250px;
    max-width: 500px;

    text-align:center;
    position: relative;
    margin: auto;
    display: block;
}
.input_numbers_wrapper{
    /*margin: 15px;*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.div_numbers_input{
    margin: 5px 0 5px 0;
}
.right{
    justify-self: end;
}
.left{
    justify-self: start;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
  }
.input_numbers{
    font: 24px Calibri;
    color: rgb(220, 220, 220);
    background-color: black;
    border: 10px black solid;
    border-radius: 5px;

    min-height: 50px;
    max-height: 100px;
    min-width: 100px;
    max-width: 160px;

    text-align:center;
}
.btn_submit{
    position: relative;
    margin: auto;
    display: block;
}

.word_table{
    border: 1px solid black;
    padding: 5px;
    margin: 10px 0px 10px 0px;
    text-align: left;
    border-collapse: collapse;
}

#words_found{
    margin: auto;
    align-items: center;
}